latex/history-ia.aux
latex/history-ia.bbl
latex/history-ia.bcf
latex/history-ia.blg
latex/history-ia.lof
latex/history-ia.log
latex/history-ia.toc
latex/history-ia.synctex.gz
latex/history-ia.run.xml
latex/history-ia.bib.blg
latex/history-ia.bib.bbl
latex/history-ia.out